<header>

    <div class="container">
        <div class="row">
            <div class="col">
                <div><a [href]="mainContentSkipLink">Skip to the main content</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="app-name">Code with your voice!</div>
                <div>
                    <ul class="navbar">
                        <span>
                            <li><a routerLink='/languages-menu'>Languages Menu</a></li>
                        </span>
                        <!--<span>
                            <li><a routerLink='/user-profile/'></a>User Profile</li>
                        </span>-->
                    </ul>
                </div>
            </div>  
        </div>
    </div>
</header>

<main id="main-content">

    <div class="container">
        <div class="row align-content-center">
            <div class="col-4">
                <h1 *ngIf="tutorial">{{tutorial.titulo}} Tutorial</h1>
            </div>
        </div> 
    </div>

    <div class="container" *ngIf="!isFinished">
        <div class="row">
            <div class="col-md-12">
                <div id="notes" *ngIf="notes">{{notes.texto}}</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row justify-content-start">
                    <div class="col-md-12">
                        <h2>Question</h2>
                        <div id="question" *ngIf="currQuestion" [innerHTML]="currQuestion.texto"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-start gy-5">
                    <div class="col-md-6">
                    <label for="user-input">Your Answer</label>
                    <textarea id="user-input" placeholder="Write your answer here" rows="10" cols="33"
                        [(ngModel)]="userAnswer"></textarea>
                    </div>
                </div>
                <div class="row justify-content-start gy-5">
                    <div class="col-md-3">
                        <div class="pt-2" *ngIf="currResult<0">
                            <button (click)="gradeAnswer(userAnswer)">Check Answer</button>
                        </div>
                        <div class="pt-2" *ngIf="currResult>0">
                            <div>
                                <p>Correct!</p>
                            </div>
                            <div><button (click)="displayNextQuestion()">Next</button></div>
                        </div>
                        <div class="pt-2" *ngIf="currResult==0">
                            <div>
                                <p>Incorrect</p>
                            </div>
                            <div><button (click)="displayNextQuestion()">Next</button></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pt-2" *ngIf="currResult<0">
                            <button (click)="displayNextQuestion()">Skip Question</button>
                        </div>
                    </div>          
                </div>  
            </div>
        </div>

        <div class="options-box" *ngFor="let option of options; let i = index" [attr.data-index]="i">
            <ul>
                <li>option{{i+1}}: {{option}}</li>
            </ul>
        </div>
   
    </div>
    <div class="container" *ngIf="isFinished">
        <div class="row justify-content-center" *ngIf="passedTutorial">
            <div class="col-md-12">
                <h2>Final Results</h2>
                <p>Congratulations, you have passed the tutorial! Your final score is: {{finalScore}}</p>
            </div>
           
        </div>
        <div class="row justify-content-center" *ngIf="!passedTutorial">
            <div class="col-md-12">
                <h2>Final Results</h2>
                <p>Don't give up! Final score: {{finalScore}}</p>
                <a routerLink="/language-tutorials/{{tutorial.lenguajeIdFk1}}">Return to C# tutorials</a>
            </div> 
        </div>
    </div>
</main>