.navbar {
    justify-content: space-between;
}

.navbar li {
    list-style-type: none;
    float: left;
}

.navbar li a {
    display:block;
    padding-inline: 1rem;
    color: white; 
    text-decoration: none; 
}

span {
    float:center;
}

.active {
    border-style: solid;
    border-color: lightblue ;
    float: center;
    
}

a:hover {
    text-decoration: underline;
}
